@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/images/food-cocktail-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.home-btn {
    float: left;
    padding: 10px 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    color: rgb(185, 0, 0);
    background-color: black;
    border-radius: 30px;
    box-shadow: 0 0 50px;
    transition: 0.3s #710101;
    transform: scale(1.03);
}


.home-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(185, 0, 0),
                0 0 25px rgb(185, 0, 0),
                0 0 50px rgb(185, 0, 0),
                0 0 200px rgb(185, 0, 0);
}

audio {
    float: right;
}
audio::-webkit-media-controls-play-button {
    background-color: #710101;
    border-radius: 50%;
}

audio::-webkit-media-controls-panel {
    background-color: #710101;
}

audio::-webkit-media-controls-timeline {
    border-radius: 40%;
    background-color: #710101;
}
    
.fa-star {
    padding: 10px;
    size: 10px;
    color: rgb(185, 0, 0);
}

.top {
    padding-top: 60px;
    text-align: center;
    background: transparent;
    color: white;
    border-radius: 15px;
    font-size: 70px;
    width: 100%;
    text-decoration: none;
    font-family: "Tangerine", cursive;
    font-weight: 900 bold;
    font-style: normal;
}

@media (max-width: 600px) {
    body {
        background-image: 600px 665px;
    }
    .home-btn {
        font-size: 20px;
        width: auto;
    }
    .top {
        font-size: 30px;
    }
}

@media (min-width: 601px) {
    body {
        background-image: 600px 665px;
    }
    .home-btn {
        font-size: 30px;
        width: auto;
    }
    .top {
        font-size: 30px;
    }
}

@media (min-width: 1875px) {
    .top {
        font-size: 70px;
    }
    #drink-container h2 {
        font-size: 30px;
    }
    #meal-container h2 {
        font-size: 30px;
    }
}

@media (max-width) {
    
}