/* CSS for main laoding page of the app */
:root {
    --b: black;
    --w: white;
    --g: rgb(225, 223, 223);
}

* {
    font-family: 'Dawning of a New Day', cursive;
}

#content-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img1 {
    width: 100px;
    height: 100px;
}

h1{
    font-size: 50px;
    padding-left: 20px;
}

#box {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

button{
    font-family: 'Shadows Into Light', cursive;
    background: var(--b);
    color: var(--w);
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    font-size: 20px;
    margin: 20px;
    width: 300px;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 17px;
    background: var(--b);
    color: var(--w);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    width: 400px;
    margin: 20px;
    display: flex;
}

.vl {
    border-left: 6px solid var(--b);
    padding: 1em;
}



#img2 {
    width: 300px;
    height: 125px;
}

#content-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    background-color: var(--g);
    text-align: center;
    padding: 120px;
    width: 500px;
    border-radius: 15px;
    margin: 20px 0px 0px 0px;
    color: var(--b);
}

#recipe-styling {
    display: flex;
    border-left: 6px solid var(--b);
    padding: 1em; 
    justify-content: space-between;
}

#drink-recipe {
    display: flex;
    background-color: var(--g);
    border-radius: 20px;
    margin: 3px; 
    flex-direction: column;
}

#food-recipe {
    display: flex;
    background-color: var(--g);
    border-radius: 20px;
    margin: 3px; 
    flex-direction: column;
}

#drink-recipe h2 {
    font-family:'Shadows Into Light', cursive;
    font-size: 20px;
    
}

#food-recipe h2 {
    font-family:'Shadows Into Light', cursive;
    font-size: 20px;
    
}

#drink-recipe img {
   display: flex;
   align-self: center;
   height: 300px;
   width: 300px; 
   padding-bottom: 30px;
}

#food-recipe img {
    display: flex;
    align-self: center;
    font-family:'Shadows Into Light', cursive;
    padding-bottom: 30px;
 }

#button-container {
    display: flex; 
    border-left: 6px solid var(--b);
    padding: 1em; 
    justify-content: center;
}

a {
    font-family:'Shadows Into Light', cursive;
    color: var(--w);
    text-decoration: none;
}

p {
    font-family:'Shadows Into Light', cursive; 
    font-size: 20px;
    color: var(--b);
}

img {
    justify-content: center;
    height: 300px;
    width: 300px; 
}

#drink-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 767px) {
    #recipe-styling {
        border-left: none;
        display: flex;
        justify-content: center;
    }
    .vl {
        border-left: none;
    }
    #button-container {
        border-left: none;
    }
}
@media (max-width: 768px) {
    #recipe-styling {
        display: flex;
        flex-wrap: wrap;
    }
    h2 {
        width: 300px;
    }
    button {
        font-size: 16px;
        padding: 10px;
        width: 250px;
    }
    h1 {
        font-size: 35px;
        
    }
    #description {
        width: auto;
    }
    #img1 {
        height: 80px;
        width: 80px;
    }
    .vl {
        padding: none;
    }
}

@media (max-width: 425px) {
    #recipe-styling {
        border-left: none;
        display: flex;
        justify-content: center;
    }
    .vl {
        border-left: none;
    }
    #button-container {
        border-left: none;
    }
    #description {
        padding: 100;
    }
}

@media (max-width: 1024px) {
    #recipe-styling {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

